<!DOCTYPE html>
{% load staticfiles %}
{% load permission_tags %}
<html>
<head lang="es">
  <title>Citas Medicas</title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'node_modules/ng-slider/dist/css/ng-slider.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'bower_components/sweetalert/dist/sweetalert.css' %}">

  <script src="{% static 'bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'bower_components/angular-chart.js/dist/angular-chart.css' %}">


</head>
<body>


  
  <nav class="navbar navbar-dark bg-primary">
    <!-- Toggle Button -->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-content">
      ☰
    </button>
    <a href="{% url '/' %}" class="navbar-brand">Citas Medicas</a>

    <div class="collapse navbar-toggleable-xs" id="nav-content">
      <ul class="nav navbar-nav pull-right">
        {% if  user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register/medico' %}">Eres Medico? Registrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register/paciente' %}">Eres Paciente? Registrate</a>
        </li>
        {% endif %}

        {% if  user.is_authenticated %}
        {% if user|can:'medicos' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agendas</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'agenda/listado' %}">Agendas</a>
            <a class="dropdown-item" href="{% url 'agenda' %}">Registrar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Citas</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'cita/historial-medico' %}">Historial</a>
            <a class="dropdown-item" href="{% url 'cita/buscar' %}">Citas</a>
            <a class="dropdown-item" href="{% url 'cita/pendientes-medico' %}">Pendientes</a>
          </div>
        </li>
        {% endif %}
        {% if user|can:'pacientes' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Citas</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'cita/listado' %}">Historial</a>
            <a class="dropdown-item" href="{% url 'cita' %}">Registrar</a>
            <a class="dropdown-item" href="{% url 'cita/pendientes' %}">Pendientes</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons dp48">perm_identity</i>
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="#">{{user.username|capfirst}}</a>
            <a class="dropdown-item" href="{% url 'logout' %}" style='width: auto !important;'>Cerrar Sesion</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>







  
  <div class="container-fluid" id="cont">
    {% block maincontent %}
    {% endblock maincontent %}
  </div>



  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="{% static 'bower_components/moment-duration-format/lib/moment-duration-format.js' %}"></script>
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/angular/angular.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  <script src="{% static 'bower_components/angular-chart.js/dist/angular-chart.js' %}"></script>
  <script src="{% static 'node_modules/ng-slider/dist/ng-slider.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

  <script >
    $(document).ready(function() {
      $(".dropdown-toggle").dropdown();
    });
  </script>

</body>
</html>