{% extends "master.html" %}

{% load static %}

{% block maincontent %}



 <div class="row">
    <form class="col s12" method="POST">
    {% csrf_token %}
    <h3>Editar Agenda</h3>
      <div class="row">
        <div class="input-field col s6">
          {{agenda_form.frecuencia}}
          {{agenda_form.frecuencia.errors}}
          <label for="first_name">Frecuencia</label>
        </div>
        <div class="input-field col s6">
        <select name="dia" id="dia">
        <option value="{{dia.id}}" selected>{{agenda.dia}}</option>
			{% for dia in dias %}
				<option value="{{dia.id}}">{{dia.dia}}</option>
			{% endfor %}
		    </select>
          <label for="dia">Dia</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          {{agenda_form.hora_ini}}
          {{agenda_form.hora_ini.errors}}
          <label for="id_hora_ini">Hora de Inicio</label>
        </div>
        <div class="input-field col s6" >
          {{agenda_form.hora_fin}}
          {{agenda_form.hora_fin.errors}}
          <label for="id_hora_fin">Hora Final</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn">Guardar</button>
    </form>
  </div>


{% endblock maincontent %}