{% extends "master.html" %}

{% load static %}

{% block maincontent %}

<div class="row" ng-app="drpet" ng-controller="CtrlCitas">

	<form class="col-md-10 col-md-offset-1" >
		{% csrf_token %}
		<h3>Buscar Medico</h3>
		<div class="row">
			<div class="col-md-4">
				<select name="especialidad" ng-model="id_especialidad" id="id_especialidad" ng-init="id_especialidad='1'" class="form-control">
					{% for especialidad in  especialidades%}
					<option value="{{ especialidad.id }}">{{ especialidad.nombre }}</option>
					{% endfor %}
				</select>
			</div>
		</div><br>

		<div class="row">
			<div  class="col-md-4" ng-repeat="medico in Medicos">
			
				<div class="card">
					<div class="card-header">
						<a href="cita/agenda-disp-medico/{$medico.id$}/" class="white-text">
						{$ medico.nombre $}
						</a>
					</div>
					<div class="card-block">
						<blockquote class="card-blockquote">
							<p><label class="black-text" style="font-size:14px;">Empresa:  </label> {$ medico.empresa $}</p>
							<p><label class="black-text" style="font-size:14px;">Descripcion:  </label>{$ medico.descripcion $}</p>
							<p><label class="black-text" style="font-size:14px;">Direccion:  </label>{$ medico.direccion $}</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>

{% endblock maincontent %}