
{% extends "master.html" %}

{% load static %}

{% block maincontent %}



<div class="row">
  {% if citas%}

<h2>Historial de Citas Medicas</h2>
  {% for cita in citas %}
  <div  class="col-md-4">
    <div class="card">
      <div class="card-header">
       <strong>{{cita.dia}}</strong> {{cita.fecha}} 
     </div>
     <div class="card-block">
      <blockquote class="card-blockquote">
        <p><strong class="black-text" style="font-size:14px;">Hora de la cita:  </strong> {{cita.hora_cita}}</p>
        <p><strong class="black-text" style="font-size:14px;">Paciente:  </strong> {{cita.nombre1}}  {{cita.apellido1}}</p>
        <p><strong class="black-text" style="font-size:14px;">Identificación:  </strong> {{cita.identificacion}}</p>
      </blockquote>
    </div>
  </div>
</div>
{% endfor %}

{% else %}
<h4>No hay Citas Registradas</h4>
{% endif %}
</div> 

{% endblock maincontent %}