{% extends "master.html" %}

{% load static %}

{% block maincontent %}
<div class="row" ng-app="drpet" ng-controller="CtrlCitasMedcio">
	<form class="col-md-6 col-md-offset-2" method="POST" action="">


		{% csrf_token %}
		<input type="hidden" ng-model="medico_id" ng-init="medico_id={{medico_id}}">
		<input type="hidden" ng-model="agenda_id">

		<div class="row">
			<div class="col-xs-6">
				<fieldset class="form-group">
				<label for="id_fecha">Fecha</label>
					<input type="date" ng-model="id_fecha" class="form-control">
				</fieldset>
			</div>
		</div>
		


		<div class="row">
			<div class="col-md-3" >
			<label for="hora_fin">Hora de la Cita</label>
				<select id="hora_fin" name="hora_cita" ng-model="hora_cita" ng-options=" hora for hora in total " class="form-control">
					<option value="default">default</option>
				</select>
			</div>
		</div><br>

		<button class="btn btn-primary" >Guardar</button>
	</form>
</div>

{% endblock maincontent %}