{% extends "master.html" %}

{% load static %}

{% block maincontent %}


<div class="row">
  {% if citas%}

  {% for cita in citas %}
  <div  class="col-md-4">
    <div class="card">
      <div class="card-header">
       <strong>{{cita.dia}}</strong> {{cita.fecha}} 
     </div>
     <div class="card-block">
      <blockquote class="card-blockquote">
        <p><strong class="black-text" style="font-size:14px;">Hora de la cita:  </strong> {{cita.hora_cita}}</p>
        <p><strong class="black-text" style="font-size:14px;">Especialidad:  </strong> {{cita.especialidad}}</p>
        <p><strong class="black-text" style="font-size:14px;">Medico:  </strong> {{cita.nombre1}} {{cita.apellido1}}</p>
      </blockquote>
	  </div>
	  <div class="card-footer text-muted">
	  	<strong>Estado:</strong> No Aprobada
	  </div>
  </div>
</div>
{% endfor %}

{% else %}
<h4>No hay Citas Sin Aprobar</h4>
{% endif %}
</div> 


{% endblock maincontent %}